header {
    height: auto;
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      width: 50%;
      height: 80px;
      text-align: center;
  
      img {
        height: 40px;
        margin: 20px 0px;
      }
    }
  
    nav {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      ul {
        width: 100%;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        display: flex;
        justify-content:space-around ;
        align-items: center;
      }
  
      a:hover{
        color: darkblue;
        font-size: 16px;
        font-weight: bold;
        transition: 0.5s ease-in-out;
      }
  
      a {
        color: #1b0f65;
        text-decoration: none;
        text-transform: uppercase;
      }   
    }
  }

  .slider {
    width: 100%;
    height: 65vh;
    margin-top: 20px;

    background-image: url("../img/slider.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: -310px;
  }

  .services {
    padding: 0px 0px 20px 0px;
    margin-top: -80px;
  
    h2,
    p {
      text-align: center;
    }
  
    .service {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      background-color: #fff;
      -webkit-box-shadow: 0px 5px 10px -5px #000000;
      box-shadow: 0px 5px 10px -5px #000000;
    }
  
    .middle {
      transform: scale(1);
    }
  }

  .team {
    padding-bottom: 60px ;
  
    h2 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 0px;
    }
  
    p {
      margin-top: 0px;
      text-align: center;
    }
  
    .team-members {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
      row-gap: 20px;
  
      .software p::after{
        content: url('../img/software.png');
        padding: 5px;
      }
  
      .web p::after{
        content: url('../img/webdev.png');
        padding: 5px;
      }
  
      .net p::after{
        content: url('../img/website.png');
        padding: 5px;
      }
  
      .mobile p::after{
        content: url('../img/mobile-app.png');
        padding: 5px;
      }
  
      .swift p::after{
        content: url('../img/swift.png');
        padding: 5px;
      }
  
      .member {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        
        img {
          border-radius: 50%;
        }
  
        h4 {
          font-family: "Roboto", sans-serif;
          margin-bottom: 0px;
        }
  
        p {
          font-size: 12px;
          margin-top: 5px;
        }  
      }
      .member:last-child{
        grid-column: 1 / span 2;
      }
    }
  }
  
  .about {
    height: auto;
    background-image: url("../img/team.webp");
    background-repeat: no-repeat;
    background-size: auto 420px;
    background-position-x: -350px;
    padding-top: 450px;
  
    p {
      text-align: justify;
    }
  }
  
  .about-s2 {
    padding: 20px 25px 60px 25px;
  }
  
  footer {
    height: 60px;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
  }